---

yaml-files:
- '*.yaml'
- '*.yml'
- '.yamllint'

ignore:
- modules/management/kubectl-apply/manifests/*
- examples/gke-a4x/nvidia-dra-driver.yaml

rules:
  # Defaults
  braces: enable
  brackets: enable
  colons: enable
  commas: enable
  comments:
    level: warning
  comments-indentation:
    level: warning
  document-end: disable
  document-start:
    level: warning
  empty-lines: enable
  empty-values: disable
  hyphens: enable
  key-duplicates: enable
  key-ordering: disable
  new-line-at-end-of-file: enable
  new-lines: enable
  octal-values: disable
  quoted-strings: disable
  trailing-spaces: enable

  # Customized
  indentation:
    spaces: consistent
    indent-sequences: false
    check-multi-line-strings: false
  truthy:
    level: warning
    allowed-values:
    - 'true'
    - 'false'
    - 'True'
    - 'False'
