{% extends "base_generic.html" %}

{% block extrameta %}
{% load static %}
<script>
function updateQuotaType(val){
    if ( val == "l" ) {
        document.getElementById("id_quota_amount_container").style.display = 'block';
    } else {
        document.getElementById("id_quota_amount_container").style.display = 'none';
    }
}

$(function() {
    $('select[name="quota_type"]').change(function() {
        updateQuotaType($(this).val());
    });
});

function initPage() {
    updateQuotaType(document.getElementById("id_quota_type").value);
}

window.onload=initPage

</script>

{% endblock %}

{% block content %}
  <h2>Update user</h2>  

  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">{{ form.non_field_errors.as_text }}</div>
  {% endif %}


  <form action="" method="post" id="clusterForm">
    {% csrf_token %}

    <div class="form-group">
      {{ form.username.errors }}
      {{ form.username.label_tag }}
      {{ form.username }}
        <small class="form-text text-muted">{{ form.username.help_text }}</small>
    </div>
    <div class="form-group">
      {{ form.email.errors }}
      {{ form.email.label_tag }}
      {{ form.email }}
        <small class="form-text text-muted">{{ form.email.help_text }}</small>
    </div>
    <div class="form-group">
      {{ form.quota_type.errors }}
      {{ form.quota_type.label_tag }}
      {{ form.quota_type }}
        <small class="form-text text-muted">{{ form.quota_type.help_text }}</small>
    </div>
    <div class="form-group" id="id_quota_amount_container">
      {{ form.quota_amount.errors }}
      {{ form.quota_amount.label_tag }}
      {{ form.quota_amount }}
        <small class="form-text text-muted">{{ form.quota_amount.help_text }}</small>
    </div>
    <br/>  
    <input type="submit" value="Save" class="btn btn-primary"/>
    <button class="btn btn-primary" onclick="javascript:history.back();"/>Cancel</button>
  </form>

{% endblock %}

