# Enroot Credentials File
# Managed by Ansible. Manual changes will be overwritten!

{% for repo in artifact_repos if repo.format == "DOCKER" %}
{% set parts = repo.name.split('/') %}
{% set location = parts[3] -%}  {# e.g. "us-central1" from "projects/<proj>/locations/us-central1/repositories/<name>" #}

# Repository: {{ repo.name }}
# Mode: {{ repo.mode }}

machine {{ location }}-docker.pkg.dev login oauth2accesstoken password $(gcloud auth print-access-token)
{% endfor %}
