# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---

- name: "Setup Integration tests for HPC toolkit"
  hosts: localhost
  tasks:
  ## Create SSH Keys
  - name: "Create .ssh folder"
    ansible.builtin.file:
      path: "/builder/home/.ssh"
      state: directory
      mode: 0700
  - name: Create SSH Key
    community.crypto.openssh_keypair:
      path: "/builder/home/.ssh/id_rsa"

  ## Create cluster
  - name: Create Deployment Directory
    ansible.builtin.include_tasks:
      file: tasks/create_deployment_directory.yml
  - name: Create Infrastructure and test
    block:
    - name: Create Cluster with Terraform
      ansible.builtin.command:
        cmd: "{{ item }}"
        chdir: "{{ workspace }}/{{ deployment_name }}/primary"
      args:
        creates: "{{ workspace }}/{{ deployment_name }}/.terraform"
      environment:
        TF_IN_AUTOMATION: "TRUE"
      register: terraform_output
      with_items:
      - "terraform init"
      - "terraform apply -auto-approve -no-color"
    - name: Gather instance information
      changed_when: false
      delegate_to: localhost
      register: instances_list
      retries: 2
      delay: 60
      until: instances_list.rc == 0
      ansible.builtin.command: >-
        gcloud compute instances list
        --filter="labels.ghpc_deployment={{ deployment_name }}"
        --format='table(name,zone,id,status)'
    - name: Print instance information
      ansible.builtin.debug:
        var: instances_list.stdout_lines
    - name: Get IP of the remote node - Exact name provided
      changed_when: false
      register: get_remote_ip
      ansible.builtin.command: >-
        gcloud compute instances describe --zone={{ zone }} {{ remote_node }}
        --format='get(networkInterfaces[0].accessConfigs[0].natIP)'
      when: '"*" not in remote_node'
    # Setting a fact is needed because the variable will overwrite itself even
    # if a task is skipped, leading to an undefined variable when the exact name
    # is provided.
    - name: Set remote_ip variable - Exact name provided
      ansible.builtin.set_fact:
        remote_ip: "{{ get_remote_ip.stdout }}"
      when: '"*" not in remote_node'
    - name: Get IP of the remote node - Name pattern provided
      changed_when: false
      register: get_remote_ip
      ansible.builtin.command: >-
        gcloud compute instances list \
          --format='get(networkInterfaces[0].accessConfigs[0].natIP)' --limit=1 \
          --filter=NAME:{{ remote_node }}
      when: '"*" in remote_node'
    - name: Set remote_ip variable - Name pattern provided
      ansible.builtin.set_fact:
        remote_ip: "{{ get_remote_ip.stdout }}"
      when: '"*" in remote_node'
    - name: Print remote node's public IP
      ansible.builtin.debug:
        var: remote_ip

    ## Setup firewall for cloud build
    - name: Get Builder IP
      changed_when: false
      ansible.builtin.shell: >-
        dig TXT +short o-o.myaddr.l.google.com @ns1.google.com |
         awk -F'"' '{print $2}'
      register: build_ip
    - name: Create firewall rule
      register: fw_result
      changed_when: fw_result.rc == 0
      ansible.builtin.command:
        argv:
        - gcloud
        - compute
        - --project={{ project }}
        - firewall-rules
        - create
        - "{{ deployment_name }}"
        - --direction=INGRESS
        - --priority=1000
        - --network={{ network }}
        - --action=ALLOW
        - --rules=tcp:22
        - --source-ranges={{ build_ip.stdout }}
    - name: 'Add SSH Keys to OS-Login'
      register: key_result
      changed_when: key_result.rc == 0
      ansible.builtin.command:
        argv:
        - gcloud
        - compute
        - os-login
        - ssh-keys
        - add
        - --ttl
        - 2h
        - "--key-file=/builder/home/.ssh/id_rsa.pub"
    - name: Add Remote node as host
      ansible.builtin.add_host:
        hostname: "{{ remote_ip }}"
        groups: [remote_host]
    - name: Wait for cluster
      ansible.builtin.wait_for_connection:

    ## Cleanup and fail gracefully
    rescue:
    - name: Capture terraform stderr
      ansible.builtin.set_fact:
        terraform_apply_stderr_one_line: "{{ terraform_output.results.1.stderr | replace('\n',' ') }}"
    - name: Gather logs
      ansible.builtin.include_tasks:
        file: tasks/gather_startup_script_logs.yml
        apply:
          delegate_to: localhost
    - name: Cleanup firewall and infrastructure
      ansible.builtin.include_tasks:
        file: tasks/rescue_terraform_failure.yml
        apply:
          delegate_to: localhost
      vars:
        deployment_name: "{{ deployment_name }}"
        workspace: "{{ workspace }}"
    - name: Trigger failure (rescue blocks otherwise revert failures)
      ansible.builtin.fail:
        msg: "Failed while setting up test infrastructure"
      when: true

- name: Run Integration Tests
  hosts: remote_host
  gather_facts: false
  tasks:
  - name: Remote Test Block
    vars:
      ansible_ssh_private_key_file: "/builder/home/.ssh/id_rsa"
    block:
    - name: Pause for 2 minutes to allow cluster setup
      ansible.builtin.pause:
        minutes: 2
    - name: Run Integration tests for HPC toolkit
      ansible.builtin.include_tasks: "{{ test }}"
      run_once: true
      vars:
        remote_node: "{{ remote_node }}"
        deployment_name: "{{ deployment_name }}"
        custom_vars: "{{ custom_vars }}"
      loop: "{{ post_deploy_tests }}"
      loop_control:
        loop_var: test
    always:
    - name: Cleanup firewall and infrastructure
      ansible.builtin.include_tasks:
        file: tasks/rescue_terraform_failure.yml
        apply:
          delegate_to: localhost
      vars:
        deployment_name: "{{ deployment_name }}"
        workspace: "{{ workspace }}"
