-- Create Guacamole entity + user for {{ username }}
WITH new_entity AS (
    INSERT INTO guacamole_entity (name, type)
    VALUES ('{{ username }}', 'USER')
    RETURNING entity_id
)
INSERT INTO guacamole_user (
    entity_id,
    password_salt,
    password_hash,
    password_date,
    disabled,
    expired
)
SELECT
    entity_id,
    NULL,
    digest('{{ vdi_password }}', 'SHA-256'),
    now(),
    false,
    false
FROM new_entity;
