---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: ${pv_name}
  labels:
  %{~ for key, val in labels ~}
    ${key}: ${val}
  %{~ endfor ~}
spec:
  storageClassName: ""
  capacity:
    storage: ${capacity}
  accessModes:
  - ReadWriteMany
  %{~ if mount_options != null ~}
  mountOptions:
  %{~ for key in mount_options ~}
  - ${key}
  %{~ endfor ~}
  %{~ endif ~}
  csi:
    driver: gcsfuse.csi.storage.gke.io
    volumeHandle: ${bucket_name}
