---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ${pvc_name}
  namespace: ${namespace}
  labels:
  %{~ for key, val in labels ~}
    ${key}: ${val}
  %{~ endfor ~}
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: ""
  volumeName: ${pv_name}
  resources:
    requests:
      storage: ${capacity}
  claimRef:
    name: ${pvc_name}
    namespace: ${namespace}
