{#
Copyright 2025 "Google LLC"

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

-- VNC Connection for {{ username }}
INSERT INTO guacamole_connection (connection_name, protocol)
VALUES ('{{ username }}', 'vnc');

INSERT INTO guacamole_connection_parameter (connection_id, parameter_name, parameter_value)
SELECT 
    connection_id, 
    param_name, 
    param_value
FROM guacamole_connection, (VALUES
    ('hostname', '{{ ansible_default_ipv4.address }}'),
    ('port', '{{ port }}'),
    ('username', '{{ username }}'),
    ('password', '{{ vnc_password }}'),
    ('disable-display-resize', '{{ "true" if vdi_resolution_locked else "false" }}')
) AS params(param_name, param_value)
WHERE connection_name = '{{ username }}';

INSERT INTO guacamole_connection_permission (entity_id, connection_id, permission)
SELECT
    (SELECT entity_id FROM guacamole_entity WHERE name = '{{ username }}' AND type = 'USER'),
    (SELECT connection_id FROM guacamole_connection WHERE connection_name = '{{ username }}'),
    perms.permission::guacamole_object_permission_type
FROM (VALUES ('READ'),('UPDATE'),('DELETE'),('ADMINISTER')) AS perms(permission);

-- SSH Connection for {{ username }}
INSERT INTO guacamole_connection (connection_name, protocol)
VALUES ('{{ username }} SSH', 'ssh');

INSERT INTO guacamole_connection_parameter (connection_id, parameter_name, parameter_value)
SELECT 
    connection_id, 
    param_name, 
    param_value
FROM guacamole_connection, (VALUES
    ('hostname', '{{ ansible_default_ipv4.address }}'),
    ('port', '22'),
    ('username', '{{ username }}'),
    (
        'private-key',
        E'{{ lookup("file", "/home/" ~ username ~ "/.ssh/id_rsa")
              | replace("\\", "\\\\")
              | replace("'",  "''")
              | replace("\r", "")
              | replace("\n", "\\n") }}'
    )
) AS params(param_name, param_value)
WHERE connection_name = '{{ username }} SSH';

INSERT INTO guacamole_connection_permission (entity_id, connection_id, permission)
SELECT
    (SELECT entity_id FROM guacamole_entity WHERE name = '{{ username }}' AND type = 'USER'),
    (SELECT connection_id FROM guacamole_connection WHERE connection_name = '{{ username }} SSH'),
    perms.permission::guacamole_object_permission_type
FROM (VALUES ('READ'),('UPDATE'),('DELETE'),('ADMINISTER')) AS perms(permission);
