{#
Copyright 2025 "Google LLC"

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

-- Create Guacamole user for {{ username }}
INSERT INTO guacamole_entity (name, type)
VALUES ('{{ username }}', 'USER');

INSERT INTO guacamole_user (
    entity_id,
    password_salt,
    password_hash,
    password_date,
    disabled,
    expired
)
SELECT
    entity_id,
    NULL,
    digest('{{ vdi_password }}', 'SHA-256'),
    now(),
    false,
    false
FROM guacamole_entity
WHERE name = '{{ username }}' AND type = 'USER';
