-- Cleanup script to remove users and connections that are no longer in the configuration
-- This script should be run after all current users have been processed

{% if vdi_users_updated | length > 0 %}
-- Remove connections for users that no longer exist in the configuration
DELETE FROM guacamole_connection_permission 
WHERE connection_id IN (
    SELECT connection_id 
    FROM guacamole_connection 
    WHERE connection_name IN (
        -- Remove VNC connections for users not in current config
        SELECT connection_name 
        FROM guacamole_connection 
        WHERE protocol = 'vnc' 
        AND connection_name NOT IN (
            {% for user in vdi_users_updated %}
            '{{ user.username }}'{% if not loop.last %},{% endif %}
            {% endfor %}
        )
    )
    OR connection_name IN (
        -- Remove SSH connections for users not in current config
        SELECT connection_name 
        FROM guacamole_connection 
        WHERE protocol = 'ssh' 
        AND connection_name NOT IN (
            {% for user in vdi_users_updated %}
            '{{ user.username }} SSH'{% if not loop.last %},{% endif %}
            {% endfor %}
        )
    )
);

-- Remove connection parameters for connections that will be deleted
DELETE FROM guacamole_connection_parameter 
WHERE connection_id IN (
    SELECT connection_id 
    FROM guacamole_connection 
    WHERE connection_name IN (
        -- Remove VNC connections for users not in current config
        SELECT connection_name 
        FROM guacamole_connection 
        WHERE protocol = 'vnc' 
        AND connection_name NOT IN (
            {% for user in vdi_users_updated %}
            '{{ user.username }}'{% if not loop.last %},{% endif %}
            {% endfor %}
        )
    )
    OR connection_name IN (
        -- Remove SSH connections for users not in current config
        SELECT connection_name 
        FROM guacamole_connection 
        WHERE protocol = 'ssh' 
        AND connection_name NOT IN (
            {% for user in vdi_users_updated %}
            '{{ user.username }} SSH'{% if not loop.last %},{% endif %}
            {% endfor %}
        )
    )
);

-- Remove the connections themselves
DELETE FROM guacamole_connection 
WHERE connection_name IN (
    -- Remove VNC connections for users not in current config
    SELECT connection_name 
    FROM guacamole_connection 
    WHERE protocol = 'vnc' 
    AND connection_name NOT IN (
        {% for user in vdi_users_updated %}
        '{{ user.username }}'{% if not loop.last %},{% endif %}
        {% endfor %}
    )
)
OR connection_name IN (
    -- Remove SSH connections for users not in current config
    SELECT connection_name 
    FROM guacamole_connection 
    WHERE protocol = 'ssh' 
    AND connection_name NOT IN (
        {% for user in vdi_users_updated %}
        '{{ user.username }} SSH'{% if not loop.last %},{% endif %}
        {% endfor %}
    )
);

-- Remove user permissions for users that no longer exist
DELETE FROM guacamole_connection_permission 
WHERE entity_id IN (
    SELECT entity_id 
    FROM guacamole_entity 
    WHERE type = 'USER' 
    AND name NOT IN (
        {% for user in vdi_users_updated %}
        '{{ user.username }}'{% if not loop.last %},{% endif %}
        {% endfor %}
    )
);

-- Remove the users themselves
DELETE FROM guacamole_user 
WHERE entity_id IN (
    SELECT entity_id 
    FROM guacamole_entity 
    WHERE type = 'USER' 
    AND name NOT IN (
        {% for user in vdi_users_updated %}
        '{{ user.username }}'{% if not loop.last %},{% endif %}
        {% endfor %}
    )
);

-- Remove the entities for users that no longer exist
DELETE FROM guacamole_entity 
WHERE type = 'USER' 
AND name NOT IN (
    {% for user in vdi_users_updated %}
    '{{ user.username }}'{% if not loop.last %},{% endif %}
    {% endfor %}
);
{% else %}
-- No users in current configuration, remove all non-admin users
DELETE FROM guacamole_connection_permission 
WHERE entity_id IN (
    SELECT entity_id 
    FROM guacamole_entity 
    WHERE type = 'USER' 
    AND name != 'guacadmin'
);

DELETE FROM guacamole_user 
WHERE entity_id IN (
    SELECT entity_id 
    FROM guacamole_entity 
    WHERE type = 'USER' 
    AND name != 'guacadmin'
);

DELETE FROM guacamole_entity 
WHERE type = 'USER' 
AND name != 'guacadmin';
{% endif %} 