{% extends "base_generic.html" %}

{% block extrameta %}
<script>
function subnetSelected() {
    {% autoescape off %}
    var subnet_map = {{ subnet_regions }};
    var region_info = {{ region_info }};
    {% endautoescape %}
    subnet_element = document.getElementById("id_subnet");
    zone_element = document.getElementById("id_cloud_zone");
    zone_element.disabled = false;
    $("#id_cloud_zone").find('option').remove().end();
    region_info[subnet_map[subnet_element.value]].forEach(function (item) {
      var el = document.createElement("option");
      el.text = item;
      el.setAttribute("value", item) 
      zone_element.appendChild(el);
    });
}

function initPage() {
    document.getElementById("id_subnet").onchange = subnetSelected;
}

window.onload=initPage;
</script>
{% endblock %}


{% block content %}
  <h2>Create a new cluster</h2>  

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
<strong>{{field.name}} {{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}


  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">{{ form.non_field_errors.as_text }}</div>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}

    <input type="hidden" name="cloud_credential" class="form-control" id="id_cloud_credential" value="{{ form.cloud_credential.value }}">

    <div class="form-group">
      {{ form.name.errors }}
      {{ form.name.label_tag }}
      {{ form.name }}
        <small class="form-text text-muted">{{ form.name.help_text }}</small>
    </div>
    <div class="form-group">
      {{ form.cloud_credential.errors }}
      {{ form.cloud_credential.label_tag }}
      {{ form.cloud_credential }}
        <small class="form-text text-muted">{{ form.cloud_credential.help_text }}</small>
    </div>
    <div class="form-group">
      {{ form.subnet.errors }}
      {{ form.subnet.label_tag }}
      {{ form.subnet }}
        <small class="form-text text-muted">{{ form.subnet.help_text }}</small>
    </div>
    <div class="form-group">
      {{ form.cloud_zone.errors }}
      {{ form.cloud_zone.label_tag }}
      {{ form.cloud_zone }}
        <small class="form-text text-muted">{{ form.cloud_zone.help_text }}</small>
    </div>
    <div class="form-group">
      {{ form.num_login_nodes.errors }}
      {{ form.num_login_nodes.label_tag }}
      {{ form.num_login_nodes }}
        <small class="form-text text-muted">{{ form.num_login_nodes.help_text }}</small>
    </div>
    <div class="form-group">
      {{ form.authorised_users.errors }}
      {{ form.authorised_users.label_tag }}
      {{ form.authorised_users }}
        <small class="form-text text-muted">{{ form.authorised_users.help_text }}</small>
    </div>
    <div class="form-group">
      {{ form.spackdir.errors }}
      {{ form.spackdir.label_tag }}
      {{ form.spackdir }}
        <small class="form-text text-muted">{{ form.spackdir.help_text }}</small>
    </div>

    <br/>
    <input type="submit" value="Save" class="btn btn-primary"/>
  </form>

{% endblock %}
