{% extends "base_generic.html" %}

{% block meta %}
  {% if cluster.status == "c" or cluster.status == "i" or cluster.status == "t" %}
  <meta http-equiv="refresh" content="15" />
  {% endif %}
  {% if object.status == "c" or object.status == "t" %}
  {# aka, if Terraform running, let's show the TF log #}
  <script>
window.onload=function(event) {
		var xhr_ = new XMLHttpRequest();
		xhr_.open("GET", "{% url 'cluster-log-file' cluster.id 0 %}", true);
		xhr_.onprogress = function() {
            $('#id_log_1').append(xhr_.responseText);
            $('#id_log_1').scrollTop($('#id_log_1')[0].scrollHeight);
        }
		xhr_.onload = function() {
            $('#id_log_1').val(xhr_.responseText);
            $('#id_log_1').scrollTop($('#id_log_1')[0].scrollHeight);
        }
		xhr_.send()
}
  </script>
  <style>
.log-file {
    white-space: pre;
    font-family: monospace;
}
  </style>
  {% endif %}
{% endblock %}

{% block content %}
  <h2>Cluster Detail</h2>
    <p><b>Cluster ID:</b> {{ object.id }}</p>
    <p><b>Name:</b> {{ object.name }}</p>
    <p><b>Region:</b> {{ object.cloud_region }}</p>
    <p><b>Zone:</b> {{ object.cloud_zone }}</p>
    <p><b>VPC & Subnet:</b> {{ object.subnet.vpc.name }} - {{object.subnet.name}}</p>
    <p><b>Controller node IP:</b> {{ object.controller_node.public_ip }}</p>
    <p><b>Login nodes:</b> {{ object.num_login_nodes }}{% if object.login_nodes.count %}: {% for login in object.login_nodes.all %}{{ login.public_ip }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</p>
    <p>
      <b>Status:</b>
      {% if cluster.status == "c" or cluster.status == "i" or cluster.status  == "t"  %}
         <img src="/static/img/loading.gif" style="width:32px;height:32px;">
      {% endif %}
      {% if object.status == "r" %}
         <img src="/static/img/status-ready.png" style="width:32px;height:32px;">
      {% endif %}
      {{ object.get_status_display }}
    </p>

    <hr>
    <p style="text-decoration: underline; font-size: large;">Partitions</p>
    <div class="table-responsive">
    <table class="table align-middle">
      <tr>
        <th>Partition Name</th>
        <th>Instance Type</th>
        <th>Maximum Instances</th>
      </tr>
      {% for part in object.partitions.all %}
      <tr>
        <td>{{ part.name }}</td>
        <td>{{ part.machine_type.name }}</td>
        <td>{{ part.max_node_count }}</td>
      </tr>
      {% endfor %}
    </table>
    </div>

{% if admin_view == 1 %}
    <p style="text-decoration: underline; font-size: large;">Authorized Users</p>
    <div class="table-responsive">
    <table class="table align-middle">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>UserID</th>
      </tr>
      {% for instance in object.authorised_users.all %}
      <tr>
        <td>{{ instance.first_name }}</td>
        <td>{{ instance.last_name }}</td>
        <td>{{ instance.username }}</td>
      </tr>
      {% endfor %}
    </table>
    </div>
{% endif %}


    <p style="text-decoration: underline; font-size: large;">Filesystem Mounts</p>
    <div class="table-responsive">
    <table class="table align-middle">
      <tr>
        <th>Mount Path</th>
        <th>Filesystem</th>
      </tr>
      {% for instance in object.mount_points.all %}
      <tr>
        <td>{{ instance.mount_path }}</td>
        <td>{{ instance.export }}</td>
      </tr>
      {% endfor %}
    </table>
    </div>


{% if admin_view == 1 %}
    {% if object.status == "d" %}
    <div class="alert alert-info">This cluster is destroyed and its settings archived. No further change is possible.</div>
    {% else if object.status == "n"  %}
    <a href="{% url 'cluster-update' object.id %}" class="btn btn-primary">Edit</a>
    {% endif %}
    {% if object.status == "n" %}
    <a href="{% url 'cluster-delete' object.id %}" class="btn btn-primary">Delete</a>
    <a href="{% url 'backend-start-cluster' object.id %}" class="btn btn-primary">Create</a>
    {% endif %}
    {% if object.status == "r" %}
    <a href="{% url 'backend-sync-cluster' object.id %}" class="btn btn-primary">Sync Cluster</a>
    <a href="{% url 'application-create-spack-cluster' object.id %}" class="btn btn-primary">Install Spack Application</a>
    <a href="{% url 'application-create-install' object.id %}" class="btn btn-primary">Install Custom Application</a>
    <a href="{% url 'application-create' object.id %}" class="btn btn-primary">Add Manually-configured Application</a>
    {% endif %}
    {% if object.status != "n" %}
    <a href="{% url 'cluster-log' cluster.id %}" class="btn btn-primary">View Logs</a>
    {% endif %}
    <br/><br/>

    {% if object.status == "c" or object.status == "t" %}
    {# aka, if Terraform running, let's show the TF log #}
    <hr>
    <div><h5>Terraform progress...</h5>
        <textarea class="log-file form-control" id="id_log_1" rows=10 disabled readonly></textarea>
    </div>
    {% endif %}
{% endif %}

{% endblock %}
