apiVersion: resource.k8s.io/v1
kind: ResourceClaimTemplate
metadata:
  name: ${template_name}
spec:
  spec:
    devices:
      requests:
      - name: req-mrdma
        exactly:
          deviceClassName: ${device_class_name}
          allocationMode: ${allocation_mode}%{ if allocation_mode == "ExactCount" }
          count: ${device_count}%{ endif }
