# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
- name: Assert variables are defined
  ansible.builtin.assert:
    that:
    - deployment_name is defined
    - workspace is defined

- name: Delete Firewall Rule
  register: fw_deleted
  changed_when: fw_deleted.rc == 0
  failed_when: false
  ansible.builtin.command:
    argv:
    - gcloud
    - compute
    - firewall-rules
    - delete
    - "{{ deployment_name }}"

- name: Destroy block
  block:

  - name: Destroy deployment
    register: gcluster_destroy
    changed_when: gcluster_destroy.changed
    run_once: true
    ansible.builtin.command: ./gcluster destroy {{ deployment_name }} --auto-approve
    # Temporarily add retry due to K8S deletion issue.
    until: gcluster_destroy.rc == 0
    retries: 1
    delay: 10
    args:
      chdir: "{{ workspace }}"
    environment:
      TF_IN_AUTOMATION: "TRUE"

  always:
  - name: Run post destroy tasks
    ansible.builtin.include_tasks: "{{ post_destroy_task }}"
    loop: "{{ post_destroy_tasks | default([]) }}"
    loop_control:
      loop_var: post_destroy_task
