{% extends "base_generic.html" %}

{% block content %}

<div class="container-fluid">

  <div class="mt-4">
    <p style="font-size:x-large; text-align:center;">
      Google<br>
      <span style="font-weight:600;">HPC Toolkit FrontEnd</span>
    </p>
    <hr style="width:40px; text-align:middle; border:5px solid #5084ef; border-radius: 5px;">
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <div class="card border-secondary">
	  <div class="card-block m-3">
	    <img src="/static/img/main-credential.png" width="64">
	    <h5 class="card-title">Credential</h5>
            <p class="card-text">Provide cloud credential for this system to 
communicate with cloud platform.</p>
            <a href="{% url 'credentials' %}" class="btn btn-outline-primary btn-sm">View Credentials</a>
	  </div>  
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card border-secondary">
	  <div class="card-block m-3">
	    <img src="/static/img/main-cluster.png" width="64">
	    <h5 class="card-title">Clusters</h5>
            <p class="card-text">Create and maintain HPC clusters on the cloud to
run HPC applications.</p>
            <a href="{% url 'clusters' %}" class="btn btn-outline-primary btn-sm">View Clusters</a>
	  </div>  
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <div class="card border-secondary">
	  <div class="card-block m-3">
	    <img src="/static/img/main-application.png" width="64">
	    <h5 class="card-title">Applications</h5>
            <p class="card-text">Define, custormize and install HPC applications on the clusters.</p>
            <a href="{% url 'applications' %}" class="btn btn-outline-primary btn-sm">View Applications</a>
	  </div>  
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card border-secondary">
	  <div class="card-block m-3">
	    <img src="/static/img/main-job.png" width="64">
	    <h5 class="card-title">Jobs</h5>
            <p class="card-text">Submit jobs to HPC clusters and keep track of 
results from all previous runs.</p>
            <a href="{% url 'jobs' %}" class="btn btn-outline-primary btn-sm">View Jobs</a>
	  </div>  
        </div>
       </div>
      <div class="col-sm-1"></div>
    </div> 
  </div>

  <div class="row" style="margin-top: 60px;">
    <div class="col-sm-12">
      <p style="font-weight: bold; font-size: xx-large; text-align: right; color: #bbbfc2;">Google</p>
    </div>
  </div>

</div>
{% endblock %}
