/clusters/
fs/
vpcs/
runs/
myvenv/
__pycache__
website/ghpcfe/migrations/
.*.swp
*.sqlite3
bin/
lib/
share/
run/
configuration.yaml
website/static/
workbenches/
dependencies/
tf/deployment.tar.gz
key1
key2
.terraform/
.terraform.lock.hcl
terraform.tfstate*
terraform.tfvars
tf/.tkfe.lock
tf/tfapply.log
tf/tfdestroy.log
config.yaml
