apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{.PVName}}
  labels:
    gcluster.google.com/managed-by: cluster-toolkit
    gcluster.google.com/storage-type: gcsfuse
spec:
  storageClassName: {{.StorageClassName}}
  capacity:
    storage: {{.Capacity}}
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  claimRef:
    namespace: {{.Namespace}}
    name: {{.PVCName}}
{{- if .MountOptions }}
  mountOptions:
{{- range .MountOptions }}
  - {{ printf "%q" . }}
{{- end }}
{{- end }}
  csi:
    driver: gcsfuse.csi.storage.gke.io
    volumeHandle: {{ printf "%q" .VolumeHandle }}
{{- if .VolumeAttributes }}
    volumeAttributes:
{{- range $key, $value := .VolumeAttributes }}
      {{ $key }}: {{ printf "%q" $value }}
{{- end }}
{{- end }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{.PVCName}}
  namespace: {{.Namespace}}
  labels:
    gcluster.google.com/managed-by: cluster-toolkit
    gcluster.google.com/storage-type: gcsfuse
spec:
  storageClassName: {{.StorageClassName}}
  volumeName: {{.PVName}}
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{.Capacity}}
