apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ printf "%q" .PVName }}
  labels:
    gcluster.google.com/managed-by: cluster-toolkit
    gcluster.google.com/storage-type: gcsfuse
spec:
  storageClassName: {{ printf "%q" .StorageClassName }}
  capacity:
    storage: {{ printf "%q" .Capacity }}
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  claimRef:
    namespace: {{ printf "%q" .Namespace }}
    name: {{ printf "%q" .PVCName }}
{{- if .MountOptions }}
  mountOptions:
{{- range .MountOptions }}
  - {{ printf "%q" . }}
{{- end }}
{{- end }}
  csi:
    driver: gcsfuse.csi.storage.gke.io
    volumeHandle: {{ printf "%q" .VolumeHandle }}
{{- if .VolumeAttributes }}
    volumeAttributes:
{{- range $key, $value := .VolumeAttributes }}
      {{ printf "%q" $key }}: {{ printf "%q" $value }}
{{- end }}
{{- end }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ printf "%q" .PVCName }}
  namespace: {{ printf "%q" .Namespace }}
  labels:
    gcluster.google.com/managed-by: cluster-toolkit
    gcluster.google.com/storage-type: gcsfuse
spec:
  storageClassName: {{ printf "%q" .StorageClassName }}
  volumeName: {{ printf "%q" .PVName }}
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ printf "%q" .Capacity }}
