addict==2.4.0
backcall==0.2.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
decorator==5.1.1
docopt==0.6.2
google-api-core==2.24.1
google-api-python-client==2.93.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-secret-manager==2.23.0
google-cloud-storage==2.10.0
google-cloud-tpu==1.23.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.67.0
grpcio==1.70.0
grpcio-status==1.70.0
httplib2==0.22.0
idna==3.7
ipython>=8.10
jedi==0.17.2
more-executors==2.11.4
packaging==23.1
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pipreqs==0.4.13
prometheus-client==0.17.1
prompt-toolkit==3.0.39
proto-plus==1.26.0
protobuf==5.29.6
ptyprocess==0.7.0
pyasn1==0.6.3
pyasn1-modules==0.4.2
Pygments==2.20.0
pyparsing==3.1.0
python-dateutil==2.8.2
PyYAML==6.0.2
requests==2.33.0
rsa==4.9
six==1.16.0
traitlets==5.9.0
uritemplate==4.1.1
urllib3==2.6.3
wcwidth==0.2.6
yarg==0.1.9
