# Disable because {} are used as part of the template definition
# https://github.com/koalaman/shellcheck/wiki/SC1083
disable=SC1083

# Disabled because it catches on the template for loop iterator
# https://github.com/koalaman/shellcheck/wiki/SC2086
disable=SC2086

# Disabled because it misinterprets template loop iterator as a bash variable
# https://github.com/koalaman/shellcheck/wiki/SC2154
disable=SC2154
