{#
Copyright 2025 "Google LLC"

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

# VDI Setup Lock File
# Generated on {{ ansible_date_time.iso8601 }}

vdi_setup_status:
  deployment_name: "{{ deployment_name }}"
  deployment_hash: "{{ current_deployment_hash }}"
  user_hash: "{{ current_user_secrets_hash }}"
  current_users: {{ vdi_users | map(attribute='username') | list | to_json }}
  user_ports: {{ vdi_users | items2dict(key_name='username', value_name='port') | to_json }}
  webapp_port: {{ vdi_webapp_port }}
  vdi_resolution: {{ vdi_resolution | default('1920x1080') }}
  vdi_resolution_locked: {{ vdi_resolution_locked | default(true) }}
  webapp_admin_hash: "{{ webapp_admin_hash | default('') }}"
  vdi_user_group: "{{ vdi_user_group | default('vdiusers') }}"
  lock_version: "1.0"
  created_at: "{{ ansible_date_time.iso8601 }}"
  last_updated: "{{ ansible_date_time.iso8601 }}"
  force_rerun: {{ force_rerun | default(false) }}
  setup_status: "configuring"  # configuring, available, error

  completed_roles:
    base_os: false
    secret_manager: false
    user_provision: false
    vnc: false
    vdi_tool: false
    vdi_monitor: false
