{#
Copyright 2026 "Google LLC"

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

blueprint_name: {{ cluster.cloud_id }}

vars:
  project_id: {{ project_id }}
  deployment_name: {{ cluster.cloud_id }}
  region: {{ cluster.cloud_region }}
  zone: {{ cluster.cloud_zone }}
  enable_cleanup_compute: True
  enable_bigquery_load: {{ cluster.use_bigquery }}
  
  labels:
    created_by: {{ site_name }}

deployment_groups:
- group: primary
  modules:
  - source: modules/network/pre-existing-vpc
    kind: terraform
    settings:
      network_name: {{ cluster.subnet.vpc.cloud_id }}
      subnetwork_name: {{ cluster.subnet.cloud_id }}
    id: hpc_network

{% if artifact_registry_yaml %}
  - id: services-api
    source: community/modules/project/service-enablement
    settings:
      gcp_service_list:
        - secretmanager.googleapis.com
        - cloudbuild.googleapis.com
        - artifactregistry.googleapis.com
{% endif %}

{{ artifact_registry_yaml | safe }}

{{ filesystems_yaml | safe }}

  - source: modules/project/service-account
    kind: terraform
    id: hpc_service_account
    settings:
      project_id: {{ project_id }}
      name: {{ controller_sa }}
      project_roles:
      - compute.instanceAdmin.v1
      - iam.serviceAccountUser
      - monitoring.metricWriter
      - logging.logWriter
      - storage.objectAdmin
      - pubsub.admin
      - compute.securityAdmin
      - iam.serviceAccountAdmin
      - resourcemanager.projectIamAdmin
      - compute.networkAdmin
      - artifactregistry.admin
      - secretmanager.secretAccessor

{{ partitions_yaml | safe }}

{{ cloudsql_yaml | safe }}

  - source: community/modules/scheduler/schedmd-slurm-gcp-v6-controller
    kind: terraform
    id: slurm_controller
    settings:
      instance_image:
        family: slurm-gcp-6-11-hpc-rocky-linux-8
        project: schedmd-slurm-public
      cloud_parameters:
        resume_rate: 0
        resume_timeout: 500
        suspend_rate: 0
        suspend_timeout: 300
        no_comma_params: false
      machine_type: {{ cluster.controller_instance_type }}
      disk_type: {{ cluster.controller_disk_type }}
      disk_size_gb: {{ cluster.controller_disk_size }}
      {{ controller_image_yaml | safe }}
      service_account_email: $(hpc_service_account.service_account_email)
      service_account_scopes:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/monitoring.write
        - https://www.googleapis.com/auth/logging.write
        - https://www.googleapis.com/auth/devstorage.read_write
        - https://www.googleapis.com/auth/pubsub
      compute_startup_scripts_timeout: 1200
      controller_startup_scripts_timeout: 1200
      controller_startup_script: |
        #!/bin/bash
        echo "******************************************** CALLING CONTROLLER STARTUP"
        gsutil cp gs://{{ startup_bucket }}/clusters/{{ cluster.id }}/bootstrap_controller.sh - | bash
      login_startup_script: |
        #!/bin/bash
        echo "******************************************** CALLING LOGIN STARTUP"
        gsutil cp gs://{{ startup_bucket }}/clusters/{{ cluster.id }}/bootstrap_login.sh - | bash
    use:
    - slurm_login
{{ controller_uses | safe }}

  - source: community/modules/scheduler/schedmd-slurm-gcp-v6-login
    kind: terraform
    id: slurm_login
    settings:
      instance_image:
        family: slurm-gcp-6-11-hpc-rocky-linux-8
        project: schedmd-slurm-public
      num_instances: {{ cluster.num_login_nodes }}
      subnetwork_self_link: "projects/{{ cluster.project_id }}/regions/{{ cluster.cloud_region }}/subnetworks/{{ cluster.subnet.cloud_id }}"
      machine_type: {{ cluster.login_node_instance_type }}
      disk_type: {{ cluster.login_node_disk_type }}
      disk_size_gb: {{ cluster.login_node_disk_size }}
      {{ login_image_yaml | safe }}
      service_account_email: $(hpc_service_account.service_account_email)
      service_account_scopes:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/monitoring.write
        - https://www.googleapis.com/auth/logging.write
        - https://www.googleapis.com/auth/devstorage.read_write
