addict==2.4.0
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-cloud-bigquery==3.28.0
google-cloud-core==2.4.1
google-cloud-secret-manager~=2.0
google-cloud-storage==2.19.0
google-cloud-tpu==1.21.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpcio==1.69.0
grpcio-status==1.69.0
httplib2==0.22.0
more-executors==2.11.4
pyyaml==6.0.2
requests==2.32.3
