{% extends "base_generic.html" %}

{% block content %}
  <h2>Credential detail</h2>
  <p><b>Credential ID:</b> {{ object.id }}</p>
  <p><b>Name:</b> {{ object.name }}</p>
  <p><b>Detail:</b> 
  <textarea class="form-control" rows="15" disabled readonly>This credential has been validated and saved.</textarea></p>
  <a href="{% url 'credential-update' credential.id %}" class="btn btn-primary">Edit</a>
  <a href="{% url 'credential-delete' credential.id %}" class="btn btn-primary">Delete</a>  
{% endblock %}
