{% extends "base_generic.html" %}

{% block content %}
  <h2>Credential List</h2>
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  {% if credential_list %}
    {% for credential in credential_list %}
      <hr>
      <p>
         <img src="/static/img/GCP_logo.png" style="width:64px;height:64px;">
         &nbsp;{{ credential.name }}     
      </p>
      <p>
         <a href="{% url 'credential-detail' credential.id %}" class="btn btn-secondary">Detail</a>
         <a href="{% url 'credential-update' credential.id %}" class="btn btn-secondary">Edit</a>
         <a href="{% url 'credential-delete' credential.id %}" class="btn btn-secondary">Delete</a>
         <a href="{% url 'cluster-create' %}" class="btn btn-secondary">Add Cluster</a>
         <a href="{% url 'vpc-create2' credential.id %}" class="btn btn-secondary">Add Network</a>
         <a href="{% url 'fs-create2' credential.id %}" class="btn btn-secondary">Add Filesystem</a>
         <a href="{% url 'workbench-create2' credential.id %}" class="btn btn-secondary">Add Workbench</a>
      </p>
    {% endfor %}
  {% else %}
    <p>This is no saved cloud credential.</p>
  {% endif %}

  <br/>
  <a href="{% url 'credential-create' %}" class="btn btn-primary">Add credential</a>
{% endblock %}
