{% extends "base_generic.html" %}

{% block extrameta %}
<script>
$(document).ready(function(){
    $("#credentialform").on("submit", function(){
    $("#pageloader").fadeIn();
  });//submit
});//document ready
</script>
{% endblock %}

{% block content %}
  <h2>Select a credential</h2>  

  <div id="pageloader">
    <img src="/static/img/loading.gif" alt="processing..." />
  </div>
  
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">{{ form.non_field_errors.as_text }}</div>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_credential">Credential:</label>
      <select name="credential" class="form-control" required id="id_credential">
        <option value="" selected>--------</option>
    {% for credential in credential_list %}
        <option value="{{ credential.id }}" >{{ credential.name }}</option>
    {% endfor %}
      </select>
      <small class="form-text text-muted">Select Credentials</small>
    </div>

    <br/>  
    <input type="submit" value="Next" class="btn btn-primary"/>
    <a href="{% url 'credential-create' %}" class="btn btn-primary">Add credential</a>
  </form>

{% endblock %}
