{% extends "base_generic.html" %}

{% block content %}
  <h2>Update credential</h2>  

  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">{{ form.non_field_errors.as_text }}</div>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

    <br/>  
    <input type="submit" value="Validate and Save" class="btn btn-primary"/>
  </form>

{% endblock %}
