apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ${pvc_name}
spec:
  accessModes:
    - ${access_mode}
  resources:
    requests:
      storage: ${capacity}
  storageClassName: ${storage_class_name}
  
