{% extends "base_generic.html" %}

{% block content %}
  <h2>Account</h2>  

  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">{{ form.non_field_errors.as_text }}</div>
  {% endif %}

  <p><b>Quota Type:</b> {{ object.get_quota_type_display }}</p>
  {% if object.quota_type == "l" %}
  <p><b>Quota Remaining:</b> ${{ object.get_quota_remaining|floatformat:2 }}/${{ object.quota_amount|floatformat:2 }}</p>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field.errors }}
      {{ field }}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

    <br/>  
    <input type="submit" value="Save" class="btn btn-primary"/>
  </form>

{% endblock %}
